
/**
*header part
*/
.site-header
{
    margin-top:15px;
}
.header-h1
{
    font-size: 24pt;
}
.header-h2
{
    font-size: 12pt;
}
.search-row
{
    padding-top: 15px;
    min-height:55px;
}
.search-group .search-bar
{
    max-width: 600px;
    display: inline-block;
    outline: none;
    border-width: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 50px;
    border-image: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(252,14,10,1) 72%);
    border-color: transparent;
    background-color: transparent;
    border-image-slice: 1;
    box-shadow: 0px 0px 25px 0px rgba(252,14,10,1);
}
.submit-btn
{
    border-width:5px;
    height: 50px;
    margin-left: -5px;
    width: 100px;
    color: white;
    background: rgba(252,14,10,1);
    border-color: rgba(252,14,10,1);
    font-size: 14pt;
    font-weight: 600;
    box-shadow: 0px 0px 25px 0px rgba(252,14,10,1);
    border-right-width:35px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
    outline: none;
}

.btn-group > .btn
{
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus
{
    outline: none;
}
.submit-btn.btn:focus, .submit-btn.btn:active:focus, .submit-btn.btn.active:focus, .submit-btn.btn.focus, .submit-btn.btn:active.focus, .submit-btn.btn.active.focus
{
    color: white;
}
.submit-btn.btn:active, .submit-btn.btn.active
{
    box-shadow: 0px 0px 35px 0px rgba(252,14,10,1);
}
.submit-btn:hover,.submit-btn:active
{
    color:white;
}
/*
.submit-btn:after
{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    margin-left: 87px;
    margin-top: -34px;
    border-top: 25px solid transparent;
    border-left: 50px solid #00ba00;
    border-bottom: 25px solid transparent;

}*/
/**
*search part
*/
.search_head
{
    margin-top:15px;
    background-color: #f5f5f5;
    padding-top: 10px;
    border: 1px solid silver;
    border-radius: 3px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: #337ab7;
    font-weight: 600;
}
.btn-toolbar a,.btn-toolbar a:hover,.btn-toolbar a:active
{
    text-decoration: none;
}
.input-goto
{
    display: inline-block;
    border: 1px solid silver;
    height: 33px;
}
.goto-label
{
    color: #33a3dd;
}
.btn-group .goto-button
{
    color: #33a3dd;
    float: right;
    border-radius: 4px;
    outline: none;
}
.search-group
{
    display: block;
}

.search-item
{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid silver;
    border-radius: 3px;
    margin-bottom: 5px;
}
.search-item.active
{
    box-shadow: 0 0 10px 1px #4298ef inset;
}
.search_head div
{
    display: table-cell;
    vertical-align: baseline;
}

.search-item:nth-child(even)
{
 background-color: #f5f5f5;
}
.category-checkbox
{
    display: none;
}
.label.label-info.category-label
{
    font-size: 12pt;
    cursor: pointer;
    background: -webkit-linear-gradient(left, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%);
    box-shadow: 0px 0px 15px 0px rgba(96,171,248,1);
}
.category-checkbox:checked+.category-label
{
    background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(252,14,10,1) 72%);
    border-image-slice: 1;
    box-shadow: 0px 0px 25px 0px rgba(252,14,10,1);
}


.types-group
{
    padding-top:20px;
    padding-bottom:20px;
}
.category-item-group
{
    display: inline-block;
    margin: 10px;
}
.seeders_cell
{
    text-align: center;
}
input:focus
{
    outline: none !important;
}
.file_list_list,.file_list_check
{
    display: none;
}
.file_list_check:checked+.file_list_list
{
    display: block;
}
.file_list_list li
{
    list-style-type: none;
}
.file_list_label
{
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    background: -webkit-linear-gradient(left, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%);
    cursor: pointer;
}
.file_list_list li
{
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    margin-bottom: 5px;
}
.file_list_list li p
{
    margin: 0;
}
.file_list_list
{
    padding-left: 10px;
}
.download_link
{
    background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(252,14,10,1) 85%);
    text-decoration: none !important;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.download_link:hover
{
    box-shadow: 0px 0px 25px 0px rgba(252,14,10,1);
    color: white;
}
.download_link:visited,.download_link:active
{
    color: white;
}
.file_type
{
    margin-left: 10px;
    padding: 5px;
    background-color: #ec971f;
    color: white;
    border-radius: 4px;
    font-size: 8pt;
    font-weight: 400;
}
.file_category
{
    margin-left: 5px;
    padding: 2px;
    background-color: rgb(64,150,238);
    color: white;
    border-radius: 4px;
    font-size: 7pt;
    font-weight: 400;
}

/**
*custom style
*/
.padding-5
{
    padding-right: 5px;
    padding-left: 5px;
}