
/**
*header part
*/
.header_wrapper
{
    background-color:  #00ba00;
}
.under_header_wrapper
{
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-h1
{
    font-size: 14pt;
    color: white;
    margin-top: 15px;
}
.search_wrapper
{
    padding-top: 25px;
    background-color: rgb(241, 241, 241);
}
.lang_ico
{
    float: right;
}
.header-h2
{
    font-size: 12pt;
    padding-bottom:20px;
    text-align: center;
}
.search-row
{
    padding-top: 15px;
    min-height:55px;
}
.search-group
{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 50px;
    background-color: transparent;
    border-image-slice: 1;
    text-align: center;
}
.search-bar
{

    outline: none;
    height:100%;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 5px 0px transparent;

}
.search_contain
{
    width: 600px;
    display: inline-block;
    height:100%;
    background-color: white;
    padding-left: 35px;
}
.search_contain:before
{
    content: '';
    width: 20px;
    height: 20px;
    background: url('/images/search.png');
    background-size: contain;
    display: block;
    position: absolute;
    margin-left: -25px;
    margin-top: 14px;
}
.search-bar:focus,.search-bar:active
{
    box-shadow: 0px 0px 5px 0px transparent;
}
.submit-btn
{
    border:5px solid white;
    vertical-align: top;
    height: 50px;
    margin-left: -5px;
    width: 100px;
    background-color: #00ba00;
    color: white;
  /*  background: rgba(252,14,10,1);
    border-color: rgba(252,14,10,1);*/
    font-size: 14pt;
    font-weight: 600;
  /*  box-shadow: 0px 0px 25px 0px rgba(252,14,10,1);*/
    outline: none;
  /*  box-shadow: 0px 0px 5px 0px rgb(50, 10, 10);*/
}

.btn-group > .btn
{
    outline: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus
{
    outline: none;
}
.submit-btn.btn:focus, .submit-btn.btn:active:focus, .submit-btn.btn.active:focus, .submit-btn.btn.focus, .submit-btn.btn:active.focus, .submit-btn.btn.active.focus
{
    color: white;
}
.submit-btn.btn:active, .submit-btn.btn.active
{
    box-shadow: 0px 0px 8px 0px transparent;
}
.submit-btn:hover,.submit-btn:active
{
    color:white;
}
.types_wrapper
{
    vertical-align: top;
    text-align: left;
}
.label.label-info.category-label
{
    cursor: pointer;
    font-size: 10pt;
    padding: 5px;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #33a3dd;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: 2px;
}
.category-checkbox
{
    display: none;
}
.category-checkbox:checked+.category-label
{
  /*  background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(252,14,10,1) 72%);
    border-image-slice: 1;
    box-shadow: 0px 0px 25px 0px rgba(252,14,10,1);*/
}
.type_status
{
    width: 50px;
    border-radius: 20px;
    background-color: #bbb;
    height: 27px;
    display: inline-block;
    background-image: url("/images/circle_white.png");
    background-position-x: 0%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 0px rgba(0,14,10,1) inset;
    background-position-y: 1px;
    cursor: pointer;
}
.category-checkbox:checked+.type_status
{
    background-image: url("/images/circle_white.png");
    background-color: #00ba00;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

.types-group
{
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
}
.category-item-group
{
    display: block;
    margin: 10px;
}

/**
*search part
*/
.search_results_wrapper
{
    background-color: yellowgreen;
}
.search_results_instruments_wrapper
{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.res_count
{
    font-size: 11pt;
    color: #999999;
}
.res_page
{
    font-size: 10pt;
    color: #aaaaaa;
    margin-bottom: 0;
}
.page_container
{
    margin-top: 10px;
}
#pageLength
{
 width: 70px;
}

.btn-toolbar a,.btn-toolbar a:hover,.btn-toolbar a:active
{
    text-decoration: none;
}
.btn a,.btn a:hover,.btn a:active
{
    text-decoration: none;
}
.btn_page
{
    border: none;
    background-color: #f1f1f1;
    color: white;
}
.prev_next_wrap
 {
    padding-left: 5px;
 }
.btn_prev
{
    padding-left: 20px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn_next
{
    padding-right: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -5px;
    border-left: 1px solid #aaaaaa;
}
.btn_prev:before
{
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 8px solid #bababa;
    border-bottom: 6px solid transparent;
    position: absolute;
    display: block;
    margin-left: -14px;
    margin-top: 3px;
}
.btn_prev:hover:before
{
    border-top: 6px solid transparent;
    border-right: 8px solid #a9a9a9;
    border-bottom: 6px solid transparent;
}
.btn_next:after
{
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 8px solid #bababa;
    border-bottom: 6px solid transparent;
    position: absolute;
    display: block;
    margin-left: 42px;
    margin-top: -15px;
}
.btn_next:hover:after
{
    border-top: 6px solid transparent;
    border-left: 8px solid #a9a9a9;
    border-bottom: 6px solid transparent;
}
.input-goto
{
    display: inline-block;
    border: 1px solid silver;
    height: 33px;
}
.goto-label
{
    color: #33a3dd;
}
.goto-button
{
    color: #33a3dd;
    outline: none;
    background:#e6e6e6;
    border: none;
    border-radius: 4px;
}
.goto-button:hover,.goto-button:focus,.goto-button:active
{
    color:#23527c;
}
.search-group
{
    display: block;
}
.search_list_wrapper
{
    background-color: white;
}
.search-item
{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid silver;
    margin-bottom: 5px;
    cursor: pointer;
}
.search-item .file_list_wrapper
{
    display: none;
    word-wrap: break-word;
}
.search-item.active .file_list_wrapper
{
    display: block;

}
.search-item.active .search_info_row
{
    background-color: #f5f5f5;
}
.search_head
{
    margin-top: 15px;
    /* background-color: #f5f5f5; */
    padding-top: 10px;
    /* border: 1px solid silver; */
    /* border-radius: 3px; */
    margin-bottom: 5px;
    color: #337ab7;
    font-weight: 600;
    border-bottom: 1px solid silver;
    padding-bottom: 15px;
}
.search_head,.search-item
{
    margin-left: 5px;
    margin-right: 5px;
}
.sort_link
{
    width: 15px;
    height:12px;
    display: inline-block;
    margin-left: 5px;
    background: url('/images/arrow_down.png');
    margin-bottom: -2px;
}

.search_head div
{
    display: table-cell;
    vertical-align: baseline;
}
/*
.search-item:nth-child(even)
{
 background-color: #f5f5f5;
}
*/
.search_col_padding
{
    padding-top: 10px;
}
.seeders_cell
{
    text-align: center;
}
input:focus
{
    outline: none !important;
}
/*
.file_list_list,.file_list_check
{
    display: none;
}
.file_list_check:checked+.file_list_list
{
    display: block;
}
.file_list_label
{
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-weight: 400;
    color: white;
    background: -webkit-linear-gradient(left, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 50%,rgba(64,150,238,1) 100%);
    cursor: pointer;
}
*/
.file_list_list{
    list-style-type: none;
}

.file_list_list li
{
    padding: 10px 5px;
    margin-bottom: 5px;
}
.file_list_list li:before
{
    content: '';
    background: url('/images/dots.png');
    width: 6px;
    height:16px;
    position: absolute;
    margin-left: -15px;
}
.file_list_list li p
{
    margin: 0;
}
/*.file_list_list*/
/*{*/
    /*padding-left: 10px;*/
/*}*/
.download_link
{
    background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%,rgba(252,14,10,1) 85%);
    text-decoration: none !important;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.download_link:hover
{
    box-shadow: 0px 0px 25px 0px rgba(252,14,10,1);
    color: white;
}
.download_link:visited,.download_link:active
{
    color: white;
}
.file_type
{
    margin-left: 10px;
    padding: 5px;
    background-color: #ec971f;
    color: white;
    border-radius: 4px;
    font-size: 8pt;
    font-weight: 400;
}
.file_category
{
    margin-left: 5px;
    padding: 2px;
    background-color: rgb(64,150,238);
    color: white;
    border-radius: 4px;
    font-size: 7pt;
    font-weight: 400;
}

/**
*custom style
*/
.padding-5
{
    padding-right: 5px;
    padding-left: 1px;
}